---
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Acerca de mí">
  <h1 class="text-3xl font-bold p-10">Acerca de mí</h1>
  <p class="p-10">Aquí irá tu información personal.</p>
</DashboardLayout>
