---
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Habilidades">
  <h1 class="text-3xl font-bold p-10">Habilidades</h1>
  <p class="p-10">Mis Habilidades</p>
</DashboardLayout>
