---
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Inicio">
  <section class="p-10 flex flex-col items-center text-center">

    <h1 class="text-6xl font-extrabold mb-6 text-gray-800">
      Bienvenidos a mi portafolio
    </h1>

    
    <p class="text-xl text-gray-700 max-w-2xl leading-relaxed text-justify">
      Aquí podrás conocer más acerca de mis habilidades, proyectos y la experiencia que he adquirido a lo largo de mi formación.  
      Este espacio está diseñado para mostrar mi trabajo, mis fortalezas y mi crecimiento dentro del área de sistemas.
    </p>

  </section>
</DashboardLayout>
