---
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Proyectos">
  <h1 class="text-3xl font-bold p-10">Proyectos</h1>
  <p class="p-10">Mis proyectos</p>
</DashboardLayout>
