<aside class="w-full bg-white shadow-xl border-b">
  <div class="mx-auto py-4 w-full px-4">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <h1 class="text-2xl md:text-3xl font-bold text-[#EC5252] text-center md:text-left mb-4 md:mb-0">
        Mi Portafolio
      </h1>

      <ul class="flex flex-wrap md:flex-nowrap justify-center space-x-0 md:space-x-8 space-y-2 md:space-y-0">
        
        <li class="px-3 py-2">
          <a href="/" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/casa.png" alt="Inicio" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Inicio</span>
          </a>
        </li>

        <li class="px-3 py-2">
          <a href="/blog" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/blog.png" alt="Blog" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Blog</span>
          </a>
        </li>

        <li class="px-3 py-2">
          <a href="/acerca" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/usuario.png" alt="Acerca de mí" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Acerca de mí</span>
          </a>
        </li>

        <li class="px-3 py-2">
          <a href="/habilidades" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/habilidades.png" alt="Habilidades" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Habilidades</span>
          </a>
        </li>

        <li class="px-3 py-2">
          <a href="/proyectos" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/laptop.png" alt="Proyectos" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Proyectos</span>
          </a>
        </li>

        <li class="px-3 py-2">
          <a href="/contacto" class="flex items-center space-x-2 hover:text-[#EC5252]">
            <img src="/images/correo.png" alt="Contacto" class="w-5 h-5 md:w-6 md:h-6" />
            <span class="font-semibold text-sm md:text-base">Contacto</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</aside>