---
const { title } = Astro.props;

import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---
<html lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-100"> <!-- Cambiado: min-h-screen y flex-col -->
    <TopNavigation />

    <!-- Contenedor principal que crece -->
    <main class="flex-grow bg-gray-50"> <!-- Añadido flex-grow -->
      <section class="p-6 md:p-10">
        <slot />
      </section>
    </main>

    <Footer />
  </body>
</html>